

.footer-container{
    padding-block: 48px 32px;
    position: relative;
}
.left-footer{
    margin-bottom: 50px;
}
.logo-footer{
    display: block;
    margin-bottom: 10px;
}
.text-bakery{
    margin-top: 20px;
    font-size: 14px;
    color: var(--second-color-text);
}


.container-right-footer{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.right-footer{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 40px 30px;
}
.footer-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-info,
.contact{
    color: var(--second-color-text);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-social-links{
    display: flex;
    align-items: center;
    column-gap: 2px;
}
.baton-footer{
    position: absolute;
    width: 70px;
    bottom: 50px;
    left: 160px;
}
.kolco-footer{
    position: absolute;
    width: 60px;
    top: 70px;
    right: 28px;
}

.footer-copy{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
    color: var(--second-color-text);
}

/* Responsive */

@media (min-width: 560px) {
    .kolco-footer{
        width: 70px;
        top: 230px;
        right: 12px;
    }
}

@media (min-width: 471px) and (max-width: 559px) {
    .kolco-footer{
        top: 80px;
        right: 120px;
    }
}

@media (min-width: 503px) {
    .container-right-footer{
        display: flex;
        justify-content: center;
    }
}



@media (min-width: 470px) {
    
    
    .text-bakery{
        font-size: 12px;
    }
    .right-footer{
        grid-template-columns: repeat(3, 130px);
        gap: 20px;
    }
    .footer-title{
        font-size: 16px;
    }
    .footer-info,
    .contact{
        font-size: 12px;
    }
    .footer-social-links{
        column-gap: 10px;
    }
    .baton-footer{
        top: 50px;
        left: 80%;
    }
    .kolco-footer{
        top: 80px;
        right: 120px;
    }
}

@media (min-width: 363px) and (max-width: 470px) {
    
    .footer-social-links{
        column-gap: 6px;
    }
}

@media (max-width: 363px){
    
    .right-footer{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 40px 30px;
    }
    .text-bakery{
        margin-top: 6px;
        font-size: 9px;
    }
    .right-footer{
        gap: 20px 30px;
    }
    .footer-title{
        font-size: 11px;
        margin-bottom: 6px;
    }
    .footer-info,
    .contact{
        font-size: 7px;
        margin-bottom: 7px;
    }
    .baton-footer{
        width: 60px;
        bottom: 30px;
        left: 170px;
    }
    .kolco-footer{
        width: 60px;
        top: 80px;
        right: 20px;
    }
    .contact-email{
        display: block;
    }
}

@media (max-width: 290px) {
    .text-bakery{
        margin-top: 3px;
        font-size: 8px;
    }
    .logo-footer{
        margin-bottom: 6px;
    }
    .right-footer{
        grid-template-columns: repeat(2, 80px);
        gap: 20px 20px;
    }
    .footer-title{
        font-size: 10px;
        margin-bottom: 6px;
    }
    .footer-info,
    .contact{
        font-size: 8px;
        margin-bottom: 3px;
    }
    .footer-copy{
        font-size: 8px;
        margin-top: 10px;
        margin-bottom: 7px;
    }
}

@media (max-width: 270px) {
    .baton-footer{
        width: 50px;
        bottom: 30px;
        left: 140px;
    }
}