
.about-container{
    margin: 70px 20px;
}
.about-image-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.about-image{
    width: 280px;
}
.about-section{
    position: relative;
    text-align: center;
}
.about-title{
    font-family: var(--title-font);
    font-size: var(--title-size);
    margin-bottom: 25px;
}
.about-text{
    color: var(--second-color-text);
    font-size: var(--smallest-size);
}
.about-button{
    margin-top: 30px;
}
.chebyrek-image{
    position: absolute;
    width: 60px;
    bottom: 16px;
    right: 0;
}