
.favorites-container{
}
.favorites-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
}
.product-container{
    background-color: var(--container-bg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    transition: border 0.5s;
    border-radius: 5px;
}
.product-container:hover{
    border: 2px solid var(--title-color);
}
.product-image-container{
    display: flex;
    justify-content: center;
}
.product-image{
    width: 90%;
    margin-top: -30px;
}
.product-description{
    margin-top: 20px;
    padding: 0 15px;
}
.product-title{
    font-family: var(--title-font);
    font-size: var(--medium-size);
    color: var(--title-color);
    margin-bottom: 4px;
}
.product-about{
    color: var(--second-color-text);
    font-size: 12px;
}
.product-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 15px;
}
.product-price{
    font-family: var(--title-font);
    font-size: 16px;
}
.product-add-to-cart{
    background-color: var(--title-color);
    padding: 4px 10px;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.product-add-to-cart:hover{
    background-color: var(--hover-title);
}

/* Responsive */
@media (min-width: 502px) {
    
    .product-title{
        font-size: 24px;
    }
    .product-about{
        margin-top: 8px;
        font-size: 14px;
    }
    .product-price{
        font-size: 18px;
    }
    .product-add-to-cart{
        padding: 4px 10px;
        font-size: 18px;
    }
}

@media (max-width: 363px){
    
    .favorites-grid{
        margin-top: 40px;
    }
    .product-image{
        width: 80%;
    }
    .product-title{
        font-size: 16px;
    }
    .product-about{
        font-size: 10px;
    }
    .product-price{
        font-size: 12px;
    }
    .product-add-to-cart{
        padding: 3px 7px;
        font-size: 14px;
    }
}

@media (max-width: 290px) {

    
    .center-grid{
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }
    .favorites-grid{
        display: block;
    }
    .product-container{
        margin: 20px 20px 40px 20px;
    }
    .product-image{
        width: 70%;
        margin-top: -25px;
    }
    .product-add-to-cart{
        padding: 4px 9px;
        font-size: 14px;
    }
    .product-title{
        font-size: 16px;
    }
    .product-about{
        font-size: 10px;
    }
    .product-price{
        font-size: 12px;
    }
}

@media (max-width: 269px) {
    
    .product-container{
        margin: 20px 20px 40px 20px;
    }
}