
.about-image-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.about-image{
    width: 80%;
}
.about-section{
    position: relative;
    text-align: center;
}
.about-text{
    color: var(--second-color-text);
    font-size: var(--smallest-size);
}
.about-button{
    margin-top: 30px;
}
.chebyrek-image{
    position: absolute;
    width: 60px;
    bottom: 16px;
    right: 0;
}

/* Responsive */
@media (min-width: 502px) {
    
    .about-text{
        font-size: 16px;
    }
    .about-button{
        margin-top: 40px;
    }
    .chebyrek-image{
        width: 70px;
        bottom: 2px;
        right: 10px;
    }
}

@media (width <= 363px){
    
    .all-title{
        font-size: 26px;
    }
    .about-text{
        font-size: 10px;
    }
    .chebyrek-image{
        width: 40px;
        top: 120px;
    }
}

@media (max-width: 290px) {
    
    .about-text{
        font-size: 8px;
    }
    .chebyrek-image{
        width: 40px;
        top: 110px;
    }
}