
.home{
    position: relative;
    padding-top: 104px;
}
.home-background,
.home-shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.home-background{
    object-fit: cover;
    object-position: center;
}
.home-shadow{
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 0%,   /*тень*/
                hsl(0, 0%, 6%) 100%);
}
.home-container-title{
    position: relative;
    text-align: center;
    padding: 0 20%;
    
}
.home-title{
    font-size: var(--title-home);
    font-family: var(--title-font);
    margin-bottom: 10%;
}
.button-orange{
    background-color: var(--title-color);
    padding: 15px 18px;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: background-color .4s;
    font-size: 12px;
}
.button-orange:hover{
    background-color: var(--hover-title);
}
.crendel-image{
    width: 50px;
    position: absolute;
    top: 240px;
    left: 20%;
}
.home-image{
    /*max-width: 400px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-bread-image{
    rotate: 15deg;
    width: 80%;
    border-radius: 50px;
}

.links-container{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}
.left-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    font-size: 14px;
}
.social-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.social-link{
    text-decoration: none;
}
.ri-facebook-circle-line{
    font-size: 20px;
    color: white;
}
.ri-facebook-circle-line:hover{
    color: var(--hover-title);
}
.ri-instagram-line{
    font-size: 20px;
    color: white;
}
.ri-instagram-line:hover{
    color: var(--hover-title);
}
.ri-youtube-line{
    font-size: 20px;
    color: white;
}
.ri-youtube-line:hover{
    color: var(--hover-title);
}

/* Responsive */
@media (min-width: 502px) {
    
    
    .crendel-image{
        width: 70px;
    }
    .links-container{
        margin-top: 50px;
    }
    .button-orange{
        padding: 15px 18px;
        font-size: 15px;
    }
}

@media (min-width: 440px) and (max-width: 501px){
    
    
}

@media (max-width: 420px){
    
    .crendel-image{
        width: 40px;
        top: 140px;
        left: 80%;
    }
}

@media (max-width: 363px){
    
    
    .crendel-image{
        width: 30px;
        top: 60px;
        left: 80%;
    }
    .button-orange{
        padding: 10px 13px;
        font-size: 10px;
    }
    .left-links-container{
        font-size: 10px;
    }
    .map-logo{
        width: 16px;
        height: 16px;
    }
    .ri-facebook-circle-line,
    .ri-instagram-line,
    .ri-youtube-line{
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .crendel-image{
        width: 30px;
        top: 100px;
        left: 80%;
    }
}

@media (max-width: 290px) {
    
    
    .button-orange{
        padding: 10px 13px;
        font-size: 8px;
    }
    .crendel-image{
        top: 80px;
        left: 80%;
    }

    
    .left-links-container{
        font-size: 8px;
    }
}