

.news-sections{
    margin-bottom: 30px;
}
.news-section:nth-child(2) .image-news{
    order: -1;
}
.news-section{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.news-text{
    flex: 1.5;
}
.image-news{
    flex: 1;
}
.title-section{
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--title-color);
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.text-section{
    font-size: 12px;
    text-align: center;
    color: var(--second-color-text);
}
.image-news{
    display: flex;
    justify-content: center;
}
.image-section{
    max-width: 90%;
    transition: transform 1s;
}
.image-section:hover{
    transform: rotate(0.05turn);
}
.button-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media (min-width: 502px) {
    
    .all-title{
        font-family: var(--title-font);
        font-size: 50px;
        margin-bottom: 40px;
        text-align: center;
    }
    .title-section{
        font-size: 30px;
    }
    .text-section{
        font-size: 15px;
    }
}

@media (max-width: 363px){
    
    .title-section{
        font-size: 18px;
    }
    .text-section{
        font-size: 10px;
    }
}

@media (max-width: 290px) {
    
    .title-section{
        font-size: 16px;
    }
    .text-section{
        font-size: 8px;
    }
}